/_notes
/node_modules
/public/css
/public/js
/public/vendor
/public/fonts
/public/plugins
/public/images
/public/storage
/public/hot
/public/storage
/public/*
/storage/*.key
/storage
/vendor
/.idea
/.vagrant
.env
.phpunit.result.cache
package-lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log